html {
  scroll-behavior: smooth;
}

.input-group-text {
  border-radius: .25rem 0 0 .25rem;
}

#list div.two {
  animation-delay: 5s;

}

#list {
  animation: fadeIn 1s ease-in both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.social a {
  font-size: 40px;
  margin-right: 10px;
  list-style: none;
  color: #727272;
}

.social a:hover {
  font-size: 40px;
  margin-right: 10px;
  list-style: none;
  color: #72727262;
  ;
}


.selectt {
  display: none;
}

.red {
  color: rgb(186, 17, 17);
}

.fa-hourglass-half {
  color: rgb(186, 17, 17);
  font-size: 40px;
}

.fa-solid {
  color: rgb(140, 140, 140);
  font-size: 40px;
}

.fa-toggle-off {
  color: rgb(186, 17, 17);
  font-size: 60px;
}

#industry {
  display: none;
}

.footer {
  font-size: 12px;
}

input[type='radio'] {
  transform: scale(1.25);
}

#table2 {
  display: none;
}

/* TOGGLE STYLING */
.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
}

.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle input+label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle input:hover+label {
  border-color: #213140;
}

.toggle input:checked+label {
  background-color: #d9534f;
  color: #fff;
  box-shadow: 0 0 10px rgba(102, 179, 251, .5);
  border-color: #d9534f;
  z-index: 1;
}



/* TOGGLE STYLING */
.toggle1 {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
}

.toggle1 input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle1 input+label {
  margin: 0;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle1 input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle1 input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle1 input:hover+label {
  border-color: #213140;
}

.toggle1 input:checked+label {
  background-color: #d9534f;
  color: #fff;
  box-shadow: 0 0 10px rgba(102, 179, 251, .5);
  border-color: #d9534f;
  z-index: 1;
}

/* TOGGLE STYLING */
.toggle2 {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
}

.toggle2 input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle2 input+label {
  margin: 0;
  padding: 0.35rem 1rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle2 input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle2 input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle2 input:hover+label {
  border-color: #213140;
}

.toggle2 input:checked+label {
  background-color: #d9534f;
  color: #fff;
  box-shadow: 0 0 10px rgba(102, 179, 251, .5);
  border-color: #d9534f;
  z-index: 1;
}

.toggle3 {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
}

.toggle3 input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.toggle3 input+label {
  margin: 0;
  padding: 0.35rem 1rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.toggle3 input+label:first-of-type {
  border-radius: 6px 0 0 6px;
  border-right: none;
}

.toggle3 input+label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle3 input:hover+label {
  border-color: #213140;
}

.toggle3 input:checked+label {
  background-color: #d9534f;
  color: #fff;
  box-shadow: 0 0 10px rgba(102, 179, 251, .5);
  border-color: #d9534f;
  z-index: 1;
}


@media screen and (max-width: 767px) {
  #table {
    display: none;
  }

  #table2 {
    display: block;
  }


}